<md-content class="md-padding" layout-xs="column" md-controller = "signCtrl">
    <md-button layout-align="space-between center" ><h1>签到<md-icon class="icon-ok"></md-icon></h1></md-button>
  <md-list>
    <md-list-item ng-click="null">第1次签到</md-list-item>
    <md-list-item ng-click="null">第2次签到</md-list-item>
    <md-list-item ng-click="null">第3次签到</md-list-item>
    <md-list-item ng-click="null">第4次签到</md-list-item>
    <md-list-item ng-click="null">第5次签到</md-list-item>
    <md-list-item ng-click="null">第6次签到</md-list-item>
  </md-list>
</md-content>
