<br>
<br>
<br>
<div >
  <md-divider></md-divider>
  <md-list>
    <md-list-item class="md-title" ng-click="selectQuiz(item)" title="查看小测验结果"  layout="row"  ng-repeat="item in QAitems"  >

        {{item.name}}

      <md-icon   class="md-secondary material-icons"  ng-click="btnRemoveQuiz(item)" title="删除此问答">delete</md-icon>
    </md-list-item>

  </md-list>
  <!--<input type="checkbox" ng-model="showFab">-->
  <md-button ng-show="showFab" class="md-fab" ui-sref="teacher.qaAdd" id="fab">
    <md-icon class="material-icons">add</md-icon>
  </md-button>
</div>