<div>
    <md-content>

        <md-card>
        <table border="1">
            <tr>
                <th ng-click="sortBy('campusID')">
                    学号
                    <span class="sortorder" ng-show="propertyName === 'campusID'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('name')">
                    姓名
                    <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('average')">
                    平均分
                    <span class="sortorder" ng-show="propertyName === 'average'" ng-class="{reverse: reverse}" ></span>
                </th>
                <th ng-click="sortBy('gpa')">
                    绩点
                    <span class="sortorder" ng-show="propertyName === 'gpa'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('F')">
                    挂科数
                    <span class="sortorder" ng-show="propertyName === 'F'" ng-class="{reverse: reverse}" ></span>
                </th>
            </tr>
            <tr ng-repeat="student in scores |orderBy :propertyName:reverse">
                <div ng-show="student.name!==undefined">
                    <th><md-button ng-click="showDetail(student.campusID)">{{student.campusID}}</md-button></th>
                    <th>{{student.name}}</th>
                    <th>{{student.average.toFixed(3)}}</th>
                    <th>{{student.gpa.toFixed(3)}}</th>
                    <th>{{student.F}}</th>
                </div>
            </tr>
        </table>
        </md-card>
        <md-card>
            <canvas id="bar" class="chart chart-bar"
                    chart-data="data" chart-labels="labels"> chart-series="series"
            </canvas>
        </md-card>
    </md-content>

</div>




