<md-content>
  <!--TODO remove the spaces-->
  <br />
  <br />
  <br />
  <div>
    <span style="color: #530">Course Name: </span>
    <input ng-model="course.name"/>
  </div>
  <div>
    <span style="color: #530">Course Description: </span>
    <input ng-model="course.desc"/>
  </div>
  <div>
    <span style="color: #530">Students: </span>
    <input ng-model="course.students"/>
  </div>
  <div>
    <span style="color: #530">Tel: </span>
    <input ng-model="course.tel"/>
  </div>
  <div>
    <md-button ng-click="btnNewCourse()">{{targetText}}</md-button>
  </div>
</md-content>