
<!--<md-content>-->

  <!--<div>-->
    <!--<span style="color: #530">Course Name: </span>-->
    <!--<input ng-model="course.name"/>-->
  <!--</div>-->
  <!--<div>-->
    <!--<span style="color: #530">Course Description: </span>-->
    <!--<input ng-model="course.desc"/>-->
  <!--</div>-->
  <!--<div>-->
    <!--<span style="color: #530">Students: </span>-->
    <!--<input ng-model="course.students"/>-->
  <!--</div>-->
<br>
<md-content  layout-padding>
  <md-content style="padding-top: 3em;" layout-gt-sm="column"  layout-align="center none">
<br>
      <md-input-container class="md-block" flex-gt-sm>
          <label>课程名称</label>
          <input required ng-model="course.name">
      </md-input-container>


      <md-input-container class="md-block" flex-gt-sm>
          <label>联系电话</label>
          <input ng-model="course.tel">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
          <label>邮件地址</label>
          <input ng-model="course.email">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm >
          <label>学生人数（不可用）</label>
          <input ng-model="course.students" disabled>
      </md-input-container>

      <md-input-container class="md-block">
          <label>课程描述</label>
          <textarea style="" ng-model="course.description" rows="5" md-select-on-focus></textarea>
      </md-input-container>



  </md-content>
<md-content layout="column" layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="btnNewCourse()">{{targetText}}</md-button>
</md-content>
</md-content>