<div layout-fill id="toast-container" style="overflow-y: hidden">
    <md-content >
    <!--&lt;!&ndash;TODO remove the spaces&ndash;&gt;-->
    <!--<br/>-->
    <!--<br/>-->
    <!--<br/>-->
    <md-divider></md-divider>
    <div>
        <md-list style="overflow-y: hidden">
                <md-list-item class="md-title" ng-repeat="student in students" title="删除此学生" ng-click="btnRemoveStudent(student)" layout="row" style="align-items:initial;" style="overflow-y: hidden" flex="auto">
                        {{student.uid}}
                        {{student.name}}


                    <md-icon class="md-secondary material-icons" style="display: inline;" ng-click="btnRemoveStudent(student)" title="删除此学生">
                        delete
                    </md-icon>
                </md-list-item>
        </md-list>

    </div>
    <md-divider></md-divider>

</md-content>
<md-button ng-disabled="showFab"  class="md-fab" ui-sref="teacher.nameListAdd" id="fab" title="添加学生名单">
    <md-icon class="material-icons">add</md-icon>
</md-button>
</div>


