 <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools" >
      <md-button ng-click="backToClass()">
        <md-icon class="material-icons">home</md-icon>
      </md-button>
      <md-select  ng-model="selectedCourse" ng-model-options="{trackBy: '$value._id'}" aria-label="className">
        <md-option   ng-value="course" ng-repeat="course in courses">{{ course.name }}</md-option>
      </md-select>
    </div>
  </md-toolbar>

 <style>
   md-toolbar {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
   }
 </style>