<body >
  <md-content layout="column" style="overflow-y: hidden;" >
  <div ui-view="header" id="Theader" style="height: 59px"></div>
  <!--<div>-->
    <!--<md-sidenav md-component-id="left">-->
      <!--<md-toolbar class="md-hue-2">-->
        <!--<span id="teacher.name"><h1 class="md-toolbar-tools">欢迎{{name}}老师</h1></span>-->
      <!--</md-toolbar>-->
      <!--<div style="margin-top: 4em">-->
        <!--<md-list ng-repeat="it in items">-->
          <!--<md-list-item ui-sref={{it.sref}} ng-click="toggleList()">-->
            <!--<h1 class="md-title">-->
              <!--<md-icon class="material-icons">{{it.icon}}</md-icon>-->
              <!--{{it.content}}-->
            <!--</h1>-->
          <!--</md-list-item>-->
        <!--</md-list>-->
      <!--</div>-->
    <!--</md-sidenav>-->
  <!--</div>-->
    <div ui-view="main" id="Tmain" layout-fill style="overflow-y: auto;height: 50%;width: 100%" ></div>
  <!--<div ui-view="footer"></div>-->
  </md-content>
  <script>
      $("#Tmain").height(document.documentElement.clientHeight-59);
      $(window).resize(function(){
          $("#Tmain").height(document.documentElement.clientHeight-59);
      });
  </script>

</body>