<md-content class="md-padding" layout="column">
    <div ng-repeat="course in courses" flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="default">
            <md-card-title>
                <md-card-title-text>
                    <md-list-item title="编辑课程信息" ng-click="btnUpdateCourse(course)">
                    <span class="md-headline" >{{course.name}}</span>
                    </md-list-item>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-xs="column" layout-align="end end">
                <div layout-xs="row">
                    <md-button ng-click="btnNameList(course)">
                        <md-icon class="md-secondary material-icons">people</md-icon>
                        <span>名单</span>
                    </md-button>
                    <md-button ng-click="btnAnalyseStudents(course)">
                        <md-icon class="md-secondary material-icons">explore</md-icon>
                        <span>分析</span>
                    </md-button>
                    <md-button ng-click="btnExam(course)">
                        <md-icon class="md-secondary material-icons">folder</md-icon>
                        <span>题库</span>
                    </md-button>
                </div>
                <div layout-xs="row">
                    <md-button ng-click="btnQa(course)">
                        <md-icon class="md-secondary material-icons">help</md-icon>
                        <span>问答</span>
                    </md-button>
                    <md-button ng-click="btnNotification(course)">
                        <md-icon class="md-secondary material-icons">speaker_notes</md-icon>
                        <span>通知</span>
                    </md-button>
                    <!--<md-button ng-click="btnUpdateCourse(course)">-->
                        <!--<md-icon class="md-secondary material-icons">edit</md-icon>-->
                        <!--<span>编辑</span>-->
                    <!--</md-button>-->

                    <md-button ng-click="btnFile(course)">
                        <md-icon class="md-secondary material-icons">attachment</md-icon>
                        <span>文件</span>
                    </md-button>

                    <!--<md-button ng-click="btnRemoveCourse(course)">-->
                        <!--<md-icon class="md-secondary material-icons">delete</md-icon>-->
                        <!--<span>删除</span>-->
                    <!--</md-button>-->
                </div>
            </md-card-actions>

        </md-card>
    </div>
</md-content>
<md-button class="md-fab" ng-click="btnTargetNewCourse()" ui-sref="teacher.coursePost" id="fab" title="新增一门课程">
    <md-icon class="material-icons">add</md-icon>
</md-button>