<md-content>
  <!--TODO remove the spaces-->
  <br/>
  <br/>
  <br/>
  <div>
    <md-divider></md-divider>
    <md-list>
      <div ng-repeat="course in courses">
        <md-list-item class="md-title" layout="row" ng-click="selectCourse(course)" title="查看课程信息" ui-sref="teacher.courseDetail">
            {{course.name}}
          <md-icon class="md-secondary material-icons" ng-click="btnUpdateCourse(course)" ui-sref="teacher.coursePost"
                   title="修改课程信息">edit
          </md-icon>
          <md-icon class="md-secondary material-icons" ng-click="btnRemoveCourse(course)" title="删除课程">
            delete
          </md-icon>
      </div>
    </md-list>
    <md-button class="md-fab" ng-click="btnTargetNewCourse()" ui-sref="teacher.coursePost" id="fab" title="新增一门课程">
      <md-icon class="material-icons">add</md-icon>
    </md-button>
    <md-divider>  </md-divider>
  </div>
</md-content>