
  <md-content layout-padding  >
    <div  layout="row" layout="center center">
      <md-button  class="md-raised md-primary" ng-click="gotoQa()">
        跳转到问答
      </md-button>
    </div>
    <div >
      <md-card  md-theme="default" ng-repeat="question in questions ">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{question.name}}</span>
            <div ng-repeat="extra in question.extras">
              {{extra}}
            </div>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>

  </md-content>