<md-content>
  <md-list>
    <md-list-item ng-click="null" layout="column">
      1+1=()<br>
      A.1<br>
      B.2<br>
      C.3<br>
      D.4<br>
      <md-button class="md-secondary material-icons" ng-click="deleteClcik()">
        delete
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" layout="column">
      1+1=()<br>
      A.1<br>
      B.2<br>
      C.3<br>
      D.4<br>
      <md-button class="md-secondary material-icons">
        delete
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" layout="column">
      1+1=()<br>
      A.1<br>
      B.2<br>
      C.3<br>
      D.4<br>
      <md-button class="md-secondary material-icons">
        delete
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" layout="column">
      1+1=()<br>
      A.1<br>
      B.2<br>
      C.3<br>
      D.4<br>
      <md-button class="md-secondary material-icons">
        delete
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" layout="column">
      1+1=()<br>
      A.1<br>
      B.2<br>
      C.3<br>
      D.4<br>
      <md-button class="md-secondary material-icons">
        delete
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" layout="column">
      1+1=()<br>
      A.1<br>
      B.2<br>
      C.3<br>
      D.4<br>
      <md-button class="md-secondary material-icons">
        delete
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</md-content>




