<br>
<br>
<md-content  >
  <div  ng-repeat="question in questions " >
    <md-list >
      <md-list-item layout="column" layout-align="none start" >
        {{question.name}}<br>
        <div ng-repeat="extra in question.extras">
          {{extra}}
        </div>
      </md-list-item>
      <md-checkbox aria-label="Checkbox" ng-click="questionSelected(question, selected)">
      </md-checkbox>
    </md-list>
    <md-divider></md-divider>
  </div>
  <md-input-container>
    <label>试题名称</label>
    <input ng-model="newQuizTitle">
  </md-input-container>
  <md-button ng-click="submit(newQuizTitle)" class="md-raised md-primary">确定</md-button>
  {{selected}}
</md-content>
<style>
  md-list {
    padding: 2em;
  }
  md-checkbox {
    float: right;
  }
</style>