/* Temp style shell */

table {
    margin: 10px auto;
    width: 94%
}
table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
}
#fab {
    position: fixed;
    right: 3em;
    bottom: 3em;
}
.sortorder:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
/*body {*/
    /*overflow-y: hidden*/
/*}*/