<md-content>
  <!--TODO remove the spaces-->
  <br />
  <br />
  <br />
  <div>
    <span style="color: #530">QuestionLibrary Name: </span>
    <input ng-model="questionLibrary.name"/>
  </div>
  <div>
    <span style="color: #530">QuestionLibrary Description: </span>
    <input ng-model="questionLibrary.desc"/>
  </div>
  <div>
    <span style="color: #530">Students: </span>
    <input ng-model="questionLibrary.students"/>
  </div>
  <div>
    <span style="color: #530">Tel: </span>
    <input ng-model="questionLibrary.tel"/>
  </div>
  <div>
    <md-button ng-click="btnNewQuestionLibrary()">{{targetText}}</md-button>
  </div>
</md-content>