<!--<br>-->
<!--<br>-->
<!--<br>-->
<md-content layout-padding>
    <div ng-repeat="each in nameList track by $index" layout="row" flex="100" flex-gt-xs="50" layout-padding>
        <md-input-container class="md-block" flex="auto">
            <label>学号</label>
            <input ng-model="each.id">
        </md-input-container>
        <md-input-container class="md-block" flex="auto">
            <label>姓名</label>
            <input ng-model="each.name">
        </md-input-container>
    </div>
</md-content>

<md-content layout-padding>
<md-input class="md-block">
    <label>选择一个xlsx文件（第一行列、第二列姓名）: </label>
    <input type="file" id="xlsx"/>
</md-input>
</md-content>

<md-content layout="column" layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="submit()">
        确认提交
    </md-button>
</md-content>

